*.swp export-ignore
*.swo export-ignore
*.pyc export-ignore
.* export-ignore
bin/ export-ignore
build/ export-ignore
core export-ignore
debian/python-leap-client/ export-ignore
dist/ export-ignore
docs/_build export-ignore
docs/covhtml export-ignore
include/ export-ignore
lib/ export-ignore
local/ export-ignore
share/ export-ignore
src/leap.egg-info/ export-ignore
src/leap_client.egg-info export-ignore
src/leap/_version.py export-subst
src/leap/bitmask/_version.py export-subst
