*.swp
*.swo
*.pyc
*.log
*.lprof
*.pstats
*.data
*.cprofile
*.*~
.*
*_rc.py
ui_*.py
!.coveragerc
!.tx
!.gitattributes
bin/
build/
dist/
docs/_build
docs/covhtml
include/
lib/
local/
share/
pkg/osx/dist
pkg/osx/build

src/*.egg-info
src/pysqlcipher
src/leap/bitmask/_binaries.py
src/leap/bitmask/util/reqs.txt
MANIFEST
_trial_temp*
config/*
CHANGELOG~

data/bitmask.pro
bitmask-resources.png

docker/
leap_thirdparty_build
