*.swp
*.swo
*.pyc
*.log
.*
!.coveragerc
!.tx
bin/
build/
core
debian/python-leap-client/
dist/
docs/_build
docs/covhtml
include/
lib/
local/
share/
src/leap.egg-info/
src/leap_client.egg-info
src/leap/_branding.py
src/leap/certs/*.pem
src/*.egg-info
pkg/osx/dist
pkg/osx/build
MANIFEST
_trial_temp*
