include pkg/*
include docs/*
recursive-include docs api/* config/* dev/* man/* pkg/* testers/* user/*
prune docs/_build
prune docs/covhtml
include versioneer.py
include src/leap/bitmask/util/reqs.txt
include src/leap/bitmask/crypto/tests/wrongcert.pem
