include pkg/*
include docs/*
recursive-include docs api/* config/* dev/* man/* pkg/* testers/* user/*
prune docs/_build
prune docs/covhtml
include versioneer.py
include LICENSE
include README.rst
include CHANGELOG.rst
include src/leap/bitmask/util/reqs.txt
include src/leap/bitmask/crypto/tests/wrongcert.pem
include src/leap/bitmask/core/bitmaskd.tac

include src/leap/bitmask/gui/ui_*.py
include src/leap/bitmask/gui/*_rc.py
include src/leap/bitmask/_version.py
