Source: python-leap-client
Section: unknown
Priority: extra
Maintainer: kali <kali@leap.se>
Standards-Version: 3.9.3
Homepage: http://leap.se
#Vcs-Git: git://git.debian.org/collab-maint/python-leap-client.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/python-leap-client.git;a=summary
X-Python-Version: >= 2.7

Package: python-leap-client
Architecture: any
#XXX ???
#Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: openvpn, python-qt4
#XXX should deprecate python-support methinks
Build-Depends: debhelper (>= 8.0.0), python-support, pyqt4-dev-tools, python-sphinx, pep8
Description: the encrypted interned toolkit
 <insert long description, indented with spaces>
