Source: leap-client
Section: misc
Priority: extra
Maintainer: Micah Anderson <micah@debian.org>
Standards-Version: 3.9.4
Homepage: http://leap.se
#Vcs-Git: git://git.debian.org/python-applications-team/leap-client.git
#Vcs-Browser: http://git.debian.org/?p=python-applications-team/leap-client.git;a=summary
Build-Depends: debhelper (>= 8.0.0), python-support, python (>=2.6), python-sphinx (>= 1.0.7+dfsg), xvfb
X-Python-Version: >= 2.6

Package: leap-client
Architecture: any
Depends: ${misc:Depends}, ${python:Depends},
  python-qt4,
  python-openssl,
  python-crypto,
  python-keyring,
  python-srp,
  python-dateutil,
  python-argparse,
  python-psutil,
  python-netifaces,
  python-requests (<= 0.14.2),
  python-xdg,
  python-jsonschema,
  python-sh,
  python-setuptools,
  python-nose,
  python-mock,
  pep8,
  openvpn
#pyqt4-dev-tools, ???
#python-sphinx, only build-depend, right?
Suggests: resolvconf 
#, python-geoip ???
Conflicts: autoresolv
Enhances: openvpn
Description: Provides the desktop client for the LEAP Encryption Access Project Platform.
 LEAP (LEAP Encryption Access Project) develops
 a plan to secure everyday communication, breaking down
 into discrete services.
 .
 The client for the current phase gives support to the EIP Service.
 EIP (the Encrypted Internet Proxy) provides circumvention, location
 anonymization, and traffic encryption in a hassle-free,
 automatically self-configuring fashion, and has an enhanced level of security.
