#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Uncomment this to turn on verbose mode.
#DH_VERBOSE=1

PYTHON2=$(shell pyversions -vr)

%:
	dh $@ --with python2,sphinxdoc --buildsystem=python_distutils

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))

# run tests!
#

# have to fix running tests inside venv.
# XXX breaking git-buildpackage process
# if we choose to run inside venv
test-python%:
	./run_tests.sh

override_dh_auto_test: $(PYTHON2:%=test-python%) $(PYTHON3:%=test-python%)
endif

override_dh_preps:
	# XXX trying to generate the manpage from rst,
	# but not the right override... :(
	rst2html docs/man/leap-client.1.rst docs/man/leap-client.1
	dh_preps

#dh_auto_build should be enough to build the python2 version

build-python%:
	python$* setup.py build

#override_dh_auto_build: $(PYTHON3:%=build-python%)
#        dh_auto_build

install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb

#override_dh_auto_install: $(PYTHON3:%=install-python%)
#        dh_auto_install

override_dh_installchangelogs:
	dh_installchangelogs -k CHANGES.txt

# build and install sphinx docs
# 
override_dh_installdocs:
	python setup.py build_sphinx
	dh_installdocs build/sphinx/html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf docs/_build 
	rm -rf *.egg-info
	#rm docs/man/leap.1
